
<section id="header" class="jumbotron text-center">
  <h1 class="display-3">GoC99</h1>
  <p class="lead"><b>Desenvolvedor e Criador de Idéias para Apps Multiplataformas.</b></p>
  </section>

<section id="gallery">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 mb-4">
        <div class="card">
          <img src="./assets/html_css.png" alt="" class="card-img-top">
          <div class="card-body">
            <h5 class="card-title">HTML 5 + CSS 3</h5>
            <p class="card-text">Uma das bases para o desenvolvimento e aparência de sua aplicação ou Web Site está aqui. Utilizamos o que há de mais novo e estável nas tecnologias HTML e CSS.</p>
            <a href="" class="btn btn-outline-success btn-sm">Saiba Mais</a>

          </div>
        </div>
      </div>
      <div class="col-lg-4 mb-4">
        <div class="card">
          <img src="./assets/AngularJS_Java.jpg" alt="" class="card-img-top">
          <div class="card-body">
            <h5 class="card-title">AngularJS + Java</h5>
            <p class="card-text">Projetos criados e formatados utilizando Angular JS, uma das melhores tecnologias para construção de Aplicações. E seu backend será produzido utilizando uma das melhores linguagens atualmente, Java!              </p>
            <button type="button" class="btn btn-outline-success btn-sm">Saiba Mais</button>

          </div>
        </div>
      </div>
      <div class="col-lg-4 mb-4">
        <div class="card">
          <img src="./assets/multiplataforma.jpg" alt="" class="card-img-top">
          <div class="card-body">
            <h5 class="card-title">Multiplataforma</h5>
            <p class="card-text">Sua aplicação será criada e baseada na compatibilidade Multiplataformas. Ou seja, em basicamente todos os sistemas operacionais e dispositivos sua aplicação funcionará.</p>
            <a href="" class="btn btn-outline-success btn-sm">Saiba Mais</a>

           <tr>

             <div class="modal" tabindex="-1" role="dialog">
               <div class="modal-dialog" role="document">
                 <div class="modal-content">
                   <div class="modal-header">
                     <h5 class="modal-title">Modal title</h5>
                     <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                       <span aria-hidden="true">&times;</span>
                     </button>
                   </div>
                   <div class="modal-body">
                     <p>Modal body text goes here.</p>
                   </div>
                   <div class="modal-footer">
                     <button type="button" class="btn btn-primary">Save changes</button>
                     <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                   </div>
                 </div>
               </div>
             </div>

           </tr>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>
