#header {
  background: url(https://images.unsplash.com/photo-1415795854641-f4a487a0fdc8?ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80) center center / cover no-repeat ;
  margin-bottom: -15px;

}
.jumbotron{
  background: black;
}

#gallery{
  background: black;
  text-decoration-color: #FFFFFF;
  margin-top: 15px;
}
.card-body{
  background: black;
  text-decoration-color: #FFFFFF;

}
.card-text{
  color: #FFFFFF;
}
.card-title{
  color: #FFFFFF;
}
.container{
  background: black;
}
